html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width,initial-scale=1')
		style 	
			include ./dashboard.css
		script(src='https://kit.fontawesome.com/d029989dde.js' crossorigin='anonymous')
		title="Dashboard"
	body 
		aside.side-nav
			.header-div
				img#img-logo.same(src='/cp_logo.png' alt='no-image')
				h2.same#heading="Classparency"
			.side-nav-a
				a(href='./dashboard.html')
					i.fa-solid.fa-house
					="Dashboard"
				a(href='./studentPage')
					i.fa-solid.fa-user-graduate
					="Students"
				a(href='./grades')
					i.fa-solid.fa-square-poll-vertical
					="Grades"
				a(href='./attendance')
					i.fa-solid.fa-wave-square
					="Attendence"
				a(href='./eventsPage')
					i.fa-solid.fa-calendar-days
					="Events"
				a(href='./seatingchart.html')
					i.fa-solid.fa-chair
					="Seating Chart"
				a(href='./announcementsPage')
					i.fa-solid.fa-bullhorn
					="Announcements"
				a(href='#options')
					i.fa-solid.fa-gear
					="Options"
		.top-section
			h2.top-div#top-header="Dashboard"
			img#dd-a(href='https://www.google.com')
			i#drop-icon.fa-solid.fa-caret-down
			a(href)
				i.fa-solid.fa-bell
			a(href)
				i.fa-solid.fa-gear
		.container
			.student-card
				.s-card-image
					img(src='/student.png' alt='Student-info')
				.s-card-image.
					
				=sped
					
			.student-card
				.p-card-image
					img(src='/student.png' alt='parent-info')
				.p-card-image.
					
				=el

			.student-card
				.i-card-image
					img(src='/student.png' alt='parent-info')
				.i-card-image.
					
				=internetAccess
					
		.stats-pie
			.stats-card
				.card-info(style='font-weight: 700;')
					="Attendence"

					.circle-wrap
						.circle
							.mask.full-1
								.fill-1
							.mask.half
								.fill-1
							.inside-circle=attendancePercentage + "%"
			.stats-card
				.card-info(style='font-weight: 700;')
					="Grades"

					.circle-wrap
						.circle
							.mask.full-2
								.fill-2
							.mask.half
								.fill-2
							.inside-circle=letterGradeAPercentage + "%"
			.stats-card
				.card-info(style='font-weight: 700;')
					="Behavior"

					.circle-wrap(style='margin-right: 100px;')
						.circle
							.mask.full-3
								.fill-3
							.mask.half
								.fill-3
							.inside-circle 75%
		.events-pie
			.events-card
				.events-card-info(style='font-weight: 700;')
					="Events"

					div
						table   
							tr 
								th= "Event Name" 
								th= "Date" 
								th= "Description"
								th= "Location"
							each event in events
								tr
									td=event.eventName 
									td=event.date
									td=event.description
									td=event.location
					
			.events-card
				.events-card-info(style='font-weight: 700;')
					="Announcements"

					div
						table   
							tr 
								th= "Announcement" 
								th= "Date" 
								th= "Description"
							each announcement in announcements
								tr
									td=announcement.title 
									td=announcement.date
									td=announcement.description
