html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width,initial-scale=1')
		style 	
			include ./index.css
		script(src='https://kit.fontawesome.com/d029989dde.js' crossorigin='anonymous')
		title="Student"
	body 
		aside.side-nav
			.header-div
				img#img-logo.same(src='/cp_logo.png' alt='no-image')
				h2.same#heading="Classparency"
			.side-nav-a
				a(href='./dashboard')
					i.fa-solid.fa-house
					="Dashboard"
				a(href='./studentPage')
					i.fa-solid.fa-user-graduate
					="Students"
				a(href='./grades')
					i.fa-solid.fa-square-poll-vertical
					="Grades"
				a(href='./attendance')
					i.fa-solid.fa-wave-square
					="Attendence"
				a(href='./eventsPage')
					i.fa-solid.fa-calendar-days
					="Events"
				a(href='./seatingchart.html')
					i.fa-solid.fa-chair
					="Seating Chart"
				a(href='./announcementsPage')
					i.fa-solid.fa-bullhorn
					="Announcements"
				a(href='#options')
					i.fa-solid.fa-gear
					="Options"
	.top-section
				h2.top-div#top-header="Events"
				img#dd-a(href='https://www.google.com')
				i#drop-icon.fa-solid.fa-caret-down
				a(href)
					i.fa-solid.fa-bell
				a(href)
					i.fa-solid.fa-gear
	.main
		form(action='./edit' method='POST' name="editing")
			input#allowEditing(type='radio' name='Editing' value='allowEditing')
			label(for='allowEditing')="Allow Editing"
			input#noEditing(type='radio' name='Editing' value='noEditing')
			label(for='noEditing')="No Editing"
			br
			input(type='submit' value='Apply')
		table   
					tr 
						th= "Event Name"
						th= "Date" 
						th= "Description" 
						th= "Location"
					each event in events
						tr
							td=event.eventName
							td=event.date
							td=event.description
							td=event.location
		h2="Add Event"
		form(action='./addEvent' method='POST')
			| 
			label(for='eventName')= "Event Name: "
			input(type='text' name='eventName')
			| 
			label(for='description')= "Description: " 
			input(type='text' name='description')
			| 
			label(for='location')="Location: "
			input(type='text' name='location')
			| 
			br
			label(for='eventDate')="Date: "
			input(type='date' name='eventDate')
			| 
			br
			input(type='submit' value='Add Event')
		h2="Delete Event"
		h3="Enter the exact name of the event you would like to delete"
		form(action='./deleteEvent' method='POST')
			| 
			label(for='deleteEventName')= "Event Name: "
			input(type='text' name='deleteEventName')
			|
			br
			input(type='submit' value='Delete Event')
