html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width,initial-scale=1')
		style 	
			include ./index.css
		script(src='https://kit.fontawesome.com/d029989dde.js' crossorigin='anonymous')
		title="Student"
	body 
		aside.side-nav
			.header-div
				img#img-logo.same(src='/cp_logo.png' alt='no-image')
				h2.same#heading="Classparency"
			.side-nav-a
				a(href='./dashboard')
					i.fa-solid.fa-house
					="Dashboard"
				a(href='./studentPage')
					i.fa-solid.fa-user-graduate
					="Students"
				a(href='./grades')
					i.fa-solid.fa-square-poll-vertical
					="Grades"
				a(href='./attendance')
					i.fa-solid.fa-wave-square
					="Attendence"
				a(href='./eventsPage')
					i.fa-solid.fa-calendar-days
					="Events"
				a(href='#behavior')
					i.fa-solid.fa-face-smile
					="Behavior"
				a(href='./announcementsPage')
					i.fa-solid.fa-bullhorn
					="Announcements"
				a(href='#options')
					i.fa-solid.fa-gear
					="Options"
	.top-section
				h2.top-div#top-header="Students"
				img#dd-a(href='https://www.google.com')
				i#drop-icon.fa-solid.fa-caret-down
				a(href)
					i.fa-solid.fa-bell
				a(href)
					i.fa-solid.fa-gear
	.main
		form(action='./edit' method='POST' name="editing")
			input#allowEditing(type='radio' name='Editing' value='allowEditing')
			label(for='allowEditing')="Allow Editing"
			input#noEditing(type='radio' name='Editing' value='noEditing')
			label(for='noEditing')="No Editing"
			br
			input(type='submit' value='Apply')
		form(action='./updateStudents' method='POST' name="editingForm")
			table(name="studentTable")
				tr 
					th="Student Photo"
					th= "Student ID" 
					th= "Student First Name" 
					th="Student Last Name"
					th="Student Gender"
					th= "Date of Birth"
					th= "Contact Email"
					th= "SPED"
					th= "EL"
					th= "Internet Access"
					th= "Letter Grade"
				each student in students
					tr
						td
							input(type='text' value=student.photo readonly=editing name='updateStudentPhoto')
						td
							input(type='number' value=student.studentId readonly=true  name='updateStudentID') 
						td 
							input(type='text' value=student.firstName readonly=editing name='updateStudentFirstName')
						td
							input(type='text' value=student.lastName readonly=editing name='updateStudentLastName')
						td 
							input(type='text' value=student.gender readonly=editing name='updateStudentGender')
						td
							input(type='date' value=student.birthDate readonly=editing name='updateStudentDOB')
						td
							input(type='text' value=student.contactEmail readonly=editing name='updateStudentContactEmail') 
						td
							input(type='text' value=student.SPED readonly=editing name='updateSped')
						td
							input(type='text' value=student.EL readonly=editing name='updateEl')
						td
							input(type='text' value=student.internetAccess readonly=editing name='updateInternetAccess')
						td=student.letterGrade
			input(type='submit' value='Update Students')

		h2="Add Student"
		form(action='./addStudent' method='POST')
			| 
			label(for='studentID')= "Student ID: "
			input(type='number' name='studentID')
			| 
			label(for='studentFirstName')= "Student First Name: " 
			input(type='text' name='studentFirstName')
			| 
			label(for='studentLastName')="Student Last Name: "
			input(type='text' name='studentLastName')
			| 
			br
			label(for='studentGender')= "Student Gender: " 
			input(type='text' name='studentGender')
			|
			label(for='studentDOB')="DOB: "
			input(type='date' name='studentDOB')
			| 
			label(for='studentContactEmail')="Contact Email: "
			input(type='text' name='studentContactEmail')
			|
			br
			input#spedFalse(type='radio' name='sped' value='SPEDFalse')
			label(for='spedFalse')="NOT SPED"
			input#spedTrue(type='radio' name='sped' value='SPEDTrue')
			label(for='spedTrue')="SPED"
			|
			br
			input#elFalse(type='radio' name='el' value='ELFalse')
			label(for='elFalse')="NOT EL"
			input#spedTrue(type='radio' name='el' value='ELTrue')
			label(for='elTrue')="EL"
			|
			br
			input#internetAccessFalse(type='radio' name='internetAccess' value='InternetAccessFalse')
			label(for='internetAccessFalse')="Does not have internet access at home"
			input#internetAccessTrue(type='radio' name='internetAccess' value='InternetAccessTrue')
			label(for='internetAccessTrue')="Does have internet access at home"
			|
			br
			input(type='submit' value='Add Student')
		h2="Delete Student"
		h3="Enter the ID of the student you would like to delete"
		form(action='./deleteStudent' method='POST')
			| 
			label(for='deleteStudentID')= "Student ID: "
			input(type='number' name='deleteStudentID')
			|
			br
			input(type='submit' value='Delete Student')

